body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.fire-icon {
  font-size: 2rem;
  color: red;
  position: relative;
  left: -16px;
  top: -16px;
}

.snowflake-icon {
  font-size: 2rem;
  position: relative;
  left: -16px;
  top: -16px;
}
.hurricaneIcon {
  font-size: 2rem;
  position: relative;
  left: -16px;
  top: -16px;
}
.hurricaneIconMini {
  font-size: 1rem;
  position: relative;
  left: -16px;
  top: -16px;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  min-height: 150px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-marker:hover {
  cursor: pointer;
}
.test-button-1 {
  position: absolute;
  left: 100px;
  bottom: 50px;
}
.test-button-2 {
  position: absolute;
  left: 200px;
  bottom: 50px;
}
.test-button-3 {
  position: absolute;
  left: 300px;
  bottom: 50px;
}
.date-slider {
  position: absolute;
  bottom: 60px;
}
.slider-text {
  position: absolute;
  bottom: 10px;
}
.slider-container {
  width: 80%;
  margin: auto;
}
.show-live-button {
  position: absolute;
  bottom: 10px;
  left: 300px;
}
